#GameDiv,
#GameCanvas {
  width: 800px;
  height: 800px;
  outline: none;
}

.game-wrapper {
  min-width: 1232px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.game-section {
  height: 100vh;
  min-height: 800px;
  margin: auto;
  display: flex;
  align-items: center;
}
.game-config {
  flex: 1;
  justify-content: center;
}

.config-zone {
  padding: 0 16px;
}
